.esds-tabs {
    align-items: center;
    display: inline-flex;
    margin: 0 auto $esds-space-generic-1-x;
}

.esds-tabs__label-input {
    position: absolute;
    visibility: hidden;
}

.esds-tabs__label {
    display: block;
    flex: 0 1 auto;
    width: 100%;
}

.esds-tabs__label-text {
    @include esds-text-color('link');
    background: $esds-background-color-light;
    border-right: solid 1px $color-gray-30;
    cursor: pointer;
    display: block;
    font-size: $esds-font-size-body-l-at-480;
    padding: 0 $esds-space-generic-1-x;
    text-align: center;
    white-space: nowrap;

    .esds-tabs__label-input:checked + & {
        @include esds-text-color('primary');
        // background: $color-gray-30;
        // color: $color-white;
        font-weight: $esds-font-weight-bold;
    }

    .esds-tabs__label:first-child & {
        border-radius: $border-radius-default 0 0 $border-radius-default;
    }

    .esds-tabs__label:last-child & {
        border-radius: 0 $border-radius-default $border-radius-default 0;
        border-right: 0;
    }
}
