.es-text-crop-code-snippet__tabs-wrap {
    text-align: center;
}

.mixin-code-tab-pane {
    position: relative;
}

// Shouldn't need this, defect in esds-doc
.esds-doc-code-snippet__pre {
    margin: 0;
}
