.es-text-crop-code-snippet__tabs-wrap {
    text-align: center;
}

.code-comment {
    color: $color-gray-53;

    .code-line-height {
        color: $color-gray-53;
    }
}

.code-selector {
    color: $color-purple;
}

.code-mixin-name,
.code-property {
    color: $color-golden;
}

.code-keyword {
    color: $color-dark-orange;
}

.mixin-code-tab-pane {
    position: relative;
}

.es-code-snippet__copy-button-icon {
    fill: $color-link;
    height: $font-size-default;
    margin-right: $spacing-xs / 2;
    width: $font-size-default;
}

.es-code-snippet__copy-button {
    align-items: center;
    display: inline-flex;
    position: absolute;
    right: 24px;
    top: 0;

    &:focus {
        outline: none;
    }
}

.es-code-snippet__copy-response {
    background: $color-gray-12;
    border-radius: $spacing-xs;
    color: $color-white;
    font-size: $font-size-sm;
    left: 50%;
    margin-left: -(150px / 2);
    opacity: 0;
    padding: $spacing-xs;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 150px;
    z-index: 100;

    &:before {
        background: $color-gray-12;
        content: '';
        display: block;
        height: 10px;
        left: 50%;
        margin-left: -5px;
        position: absolute;
        top: -5px;
        transform: rotate(45deg);
        width: 10px;
    }

    .es-code-snippet__copy-button--clicked & {
        animation: fade-in-out 3s;
    }
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
        top: 24px;
    }

    10% {
        opacity: 1;
        top: 32px;
    }

    90% {
        opacity: 1;
        top: 32px;
    }

    100% {
        opacity: 0;
        top: 24px;
    }
}
