.tool-section__title {
  border-bottom: solid 1px #888888;
  margin-bottom: 26px;
  padding-bottom: 8px; }

.es-font-form {
  padding: 26px 26px 0; }

.es-font-form__copy {
  font-size: 16px;
  margin: 0 0 16px; }

.es-font-form__label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px; }

.es-font-form__microcopy {
  font-size: 14px; }

.es-font-form__input {
  border-radius: 4px;
  border: solid 1px #888888;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 8px;
  width: 100%; }
  .es-font-form__input[disabled] {
    color: #888888;
    cursor: not-allowed;
    font-style: italic; }

.es-font-form__select {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 37px; }

.es-font-form__select {
  background: none;
  border: 0;
  display: inline-block;
  height: 37px;
  position: relative; }

.es-font-form__select-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 0;
  color: #000000;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100%;
  padding: 15px;
  padding-bottom: 0;
  padding-right: 37px;
  padding-top: 0;
  position: relative;
  width: 100%;
  z-index: 10; }
  .es-font-form__select-input:focus {
    outline: none; }

.es-font-form__select-visual-wrap {
  background: #FFFFFF;
  border: solid 1px #888888;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0; }

.es-font-form__select-open-indicator {
  bottom: 0;
  content: '';
  display: block;
  height: 37px;
  position: absolute;
  right: -1px;
  text-align: center;
  top: 0;
  width: 37px;
  z-index: 5; }

.es-font-form__select-open-icon {
  cursor: pointer;
  display: inline;
  fill: #000000;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px; }

.es-tabs {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.es-tabs__label-input {
  position: absolute;
  visibility: hidden; }

.es-tabs__label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.es-tabs__label-text {
  background: #DAD6D6;
  border-right: solid 1px #4d4d4d;
  cursor: pointer;
  display: block;
  padding: 8px 15px;
  text-align: center;
  white-space: nowrap; }
  .es-tabs__label-input:checked + .es-tabs__label-text {
    background: #4d4d4d;
    color: #FFFFFF; }
  .es-tabs__label:first-child .es-tabs__label-text {
    border-radius: 4px 0 0 4px; }
  .es-tabs__label:last-child .es-tabs__label-text {
    border-right: 0;
    border-radius: 0 4px 4px 0; }

.es-text-crop-samples__crop-toggle {
  cursor: pointer;
  position: relative;
  top: 5px; }

.es-text-crop-toggle__text {
  position: relative;
  top: 2px; }

.es-text-crop-samples__button {
  background: #1E62AB;
  border: 0;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 32px;
  min-width: 160px;
  padding: 10px 20px; }

.es-text-crop-samples__flexbox {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px; }

.es-text-crop-samples__flexbox--bottom-aligned {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.es-text-crop-samples__flexbox-image {
  margin-right: 15px; }

.es-text-crop-samples__flexbox-text {
  font-size: 20px; }

.es-text-crop-samples__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 26px;
  padding-bottom: 8px; }

.es-text-crop-samples__title {
  margin: 0 32px 0 0; }

.es-text-crop-samples__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.es-text-crop-samples__button--with-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px; }

.es-text-crop__sample {
  margin-right: 64px; }

.es-text-crop-samples__button-with-icon-icon {
  fill: #FFFFFF;
  height: 20px;
  margin-bottom: -30px;
  margin-right: 8px;
  margin-top: -30px;
  width: 20px; }

.es-text-crop-samples__button-with-icon-text {
  display: block; }

.es-text-crop__sample-label {
  display: block;
  margin: 0 0 8px; }

.text-crop--disabled:before, .text-crop--disabled:after {
  display: none !important; }

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  min-height: 100vh;
  padding: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

a {
  color: #1E62AB;
  text-decoration: none; }
  a:hover {
    color: #0f3054; }

.es-web-tool__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.es-web-tool__outer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 100vh; }

.es-web-tool__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1e1e1e;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 92px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 26px; }

.es-web-tool__configurator {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; }
  .es-code-toggle--visible .es-web-tool__configurator {
    display: none; }

.es-web-tool__sidebar {
  background: #f3f1f1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px; }

.es-web-tool__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  padding: 26px;
  padding-bottom: 0; }

.es-web-tool__title-logo {
  fill: #000000;
  height: 30px;
  margin-right: 13px;
  width: 30px; }

.es-web-tool__title-text {
  border-left: solid 1px #000000;
  display: block;
  padding-left: 12px;
  position: relative;
  top: -1px; }

.es-web-tool__external-link--twitter {
  margin-left: auto; }

.es-web-tool__external-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  color: #1E62AB;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 300;
  line-height: 1;
  text-decoration: none; }
  .es-web-tool__external-link:hover {
    text-decoration: underline; }

.es-web-tool__external-link-logo {
  fill: #1E62AB;
  height: 20px;
  margin-right: 4px;
  width: 20px; }

.es-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1E62AB;
  border: 0;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 35px;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none; }
  .es-button:hover {
    background: #0f3054;
    color: #FFFFFF;
    text-decoration: none; }

.es-code-toggle {
  display: inline-block; }

.es-button__icon {
  fill: #FFFFFF; }

.es-web-tool__results {
  -webkit-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 32px 0 32px 32px;
  width: calc(100vw - 320px); }

.es-web-tool__sidebar-actions {
  padding: 0 26px 26px; }

.es-web-tool__sidebar-ctas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px; }
  .es-web-tool__sidebar-ctas .es-button {
    margin-bottom: 15px;
    width: 100%; }

.es-web-tool__external-links-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px; }

.es-web-tool__external-link-separator {
  background: #4d4d4d;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 6px;
  margin: 0 8px;
  width: 6px; }

.es-web-tool__legal {
  font-size: 14px;
  margin: 0;
  text-align: center; }

body {
  background: #FFFFFF;
  color: #323232; }

.tool-section {
  margin-bottom: 32px;
  padding: 0 15px 0 0; }

.tool-section__title {
  text-align: left; }

.cap-height-measurement__sample-text {
  background: #FFFFFF;
  border: solid 1px #323232;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  color: #323232;
  font-family: monospace;
  margin: 0 0 0 60px;
  overflow: hidden;
  text-align: center;
  word-break: break-word; }
  .cap-height-measurement__sample-text:focus {
    outline: none; }

.cap-height-measurement__actions {
  position: relative; }

.cap-height-measurement-wrap {
  padding: 48px 0; }

.measurement-fine-tune__increment--increase {
  border-radius: 4px 4px 0 0; }
  .cap-height-measurement__line--top .measurement-fine-tune__increment--increase {
    border-radius: 0 0 4px 4px; }

.measurement-fine-tune__increment--decrease {
  border-radius: 0 0 4px 4px; }
  .cap-height-measurement__line--top .measurement-fine-tune__increment--decrease {
    border-radius: 4px 4px 0 0; }

.cap-height-measurement__line {
  background: #F57026;
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%; }
  .cap-height-measurement__line:after {
    background: #FFFFFF;
    border: solid 1px #F57026;
    color: #323232;
    content: counter(stripes);
    display: none;
    font-family: monospace;
    font-size: 14px;
    height: 20px;
    left: 30px;
    margin-top: -10px;
    padding: 2px;
    position: absolute;
    top: 50%;
    z-index: 100; }
  .cap-height-measurement__line.cap-height-measurement__line--bottom {
    background: #1E62AB;
    bottom: 0;
    left: 30px;
    top: auto;
    width: calc(100% - 30px); }

.measurement-fine-tune__grip-icon,
.measurement-fine-tune__increment-icon {
  fill: #FFFFFF;
  height: 16px;
  width: 16px; }

.measurement-fine-tune__grip,
.measurement-fine-tune__increment {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F57026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px; }
  .cap-height-measurement__line--bottom .measurement-fine-tune__grip, .cap-height-measurement__line--bottom
  .measurement-fine-tune__increment {
    background: #1E62AB; }

.measurement-fine-tune__grip {
  border-bottom: solid 1px #FFFFFF;
  border-top: solid 1px #FFFFFF;
  cursor: -webkit-grab;
  cursor: grab; }

.measurement-fine-tune {
  display: inline-block;
  left: 0;
  margin-top: -45px;
  position: absolute;
  top: 50%;
  z-index: 200; }

.cap-height-measurement__offset {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: solid 1px #F57026;
  color: #F57026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monospace;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -15px;
  padding: 15px;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 30px;
  z-index: 20; }
  .cap-height-measurement__line--bottom .cap-height-measurement__offset {
    border-color: #1E62AB;
    color: #1E62AB;
    right: 0; }

.offset-input,
.offset-input-label {
  clip: rect(0 0 0 0);
  left: 0;
  position: absolute;
  z-index: -1; }

.typeface-action {
  margin-bottom: 15px; }

.code-top-measurement {
  color: #F57026;
  font-weight: bold; }

.code-bottom-measurement {
  color: #1E62AB;
  font-weight: bold; }

.code-size,
#size {
  color: #55C81D;
  font-weight: bold; }

.code-line-height,
#line-height {
  color: #D72044;
  font-weight: bold; }

.typeface-action--hidden {
  display: none; }

.visible-padded-box {
  -webkit-box-shadow: inset 20px 20px 0 #F57026, inset -20px -20px 0 #F57026;
          box-shadow: inset 20px 20px 0 #F57026, inset -20px -20px 0 #F57026;
  display: inline-block;
  font-size: 16px;
  padding: 20px; }

.visible-padded-box--large {
  font-size: 32px; }

.visible-padded-box--extra-large {
  font-size: 64px; }

.cap-aligned-line-height {
  line-height: 1.2; }
  .cap-aligned-line-height::before, .cap-aligned-line-height::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }
