{% macro text_crop_samples() %}
    <table class="es-text-crop-sample-table">
        <thead class="es-text-crop-sample-table__head">
            <tr class="es-text-crop-sample-table__head-row">
                <th class="es-text-crop-sample-table__head-cell">Example</th>
                <th class="es-text-crop-sample-table__head-cell">Without Text Crop</th>
                <th class="es-text-crop-sample-table__head-cell">With Text Crop</th>
            </tr>
        </thead>
        <tbody class="es-text-crop-sample-table__body">
            <tr class="es-text-crop-sample-table__row">
                <th class="es-text-crop-sample-table__row-header">
                    Button
                </th>
                <td class="es-text-crop-sample-table__cell">
                    <button class="es-text-crop-samples__button text-crop text-crop--no-crop sample-font-result">
                        Click Me
                    </button>
                </td>
                <td class="es-text-crop-sample-table__cell">
                    <button class="es-text-crop-samples__button text-crop sample-font-result">
                        Click Me
                    </button>
                </td>
            </tr>
            <tr class="es-text-crop-sample-table__row">
                <th class="es-text-crop-sample-table__row-header">
                    Button with Icon
                </th>
                <td class="es-text-crop-sample-table__cell">
                    <button class="es-text-crop-samples__button es-text-crop-samples__button--with-icon">
                        {{ icon(icon_name="stopwatch", class="es-text-crop-samples__button-with-icon-icon") }}
                        <span class="es-text-crop-samples__button-with-icon-text  text-crop text-crop--no-crop sample-font-result">
                            Start Timer
                        </span>
                    </button>
                </td>
                <td class="es-text-crop-sample-table__cell">
                    <button class="es-text-crop-samples__button es-text-crop-samples__button--with-icon">
                        {{ icon(icon_name="stopwatch", class="es-text-crop-samples__button-with-icon-icon") }}
                        <span class="es-text-crop-samples__button-with-icon-text text-crop sample-font-result">
                            Start Timer
                        </span>
                    </button>
                </td>
            </tr>
            <tr class="es-text-crop-sample-table__row">
                <th class="es-text-crop-sample-table__row-header">
                    Flexbox Top aligned Text with Image
                </th>
                <td class="es-text-crop-sample-table__cell">
                    <div class="es-text-crop-samples__flexbox">
                        <img class="es-text-crop-samples__flexbox-image" src="http://placehold.it/100x100" alt="">
                        <p class=" text-crop text-crop--no-crop sample-font-result es-text-crop-samples__flexbox-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt veniam itaque inventore, placeat, mollitia unde reiciendis.
                        </p>
                    </div>
                </td>
                <td class="es-text-crop-sample-table__cell">
                    <div class="es-text-crop-samples__flexbox">
                        <img class="es-text-crop-samples__flexbox-image" src="http://placehold.it/100x100" alt="">
                        <p class="text-crop sample-font-result es-text-crop-samples__flexbox-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt incidunt veniam itaque inventore, placeat, mollitia unde reiciendis.
                        </p>
                    </div>
                </td>
            </tr>
            <tr class="es-text-crop-sample-table__row">
                <th class="es-text-crop-sample-table__row-header">
                    Small Padded Box
                </th>
                <td class="es-text-crop-sample-table__cell">
                    <div class="visible-padded-box sample-font-result text-crop text-crop--no-crop ">
                        16px font with 20px padding
                    </div>
                </td>
                <td class="es-text-crop-sample-table__cell">
                    <div class="visible-padded-box text-crop sample-font-result">
                        16px font with 20px padding
                    </div>
                </td>
            </tr>
            <tr class="es-text-crop-sample-table__row">
                <th class="es-text-crop-sample-table__row-header">
                    Large Padded Box
                </th>
                <td class="es-text-crop-sample-table__cell">
                    <div class="visible-padded-box visible-padded-box--extra-large text-crop text-crop--no-crop sample-font-result">
                        64px font with 20px padding
                    </div>
                </td>
                <td class="es-text-crop-sample-table__cell">
                    <div class="visible-padded-box visible-padded-box--extra-large text-crop sample-font-result">
                        64px font with 20px padding
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endmacro %}
