$browser-padding-color: rgba(#C7DEB8, .8);

.es-text-crop-sample-table {
    border-collapse: collapse;
    width: 100%;
}

.es-text-crop-sample-table__head-cell {
    @include esds-eyebrow-heading;
    padding: $esds-space-inset-1-x;
    text-align: left;
    width: 35%;

    &:first-child {
        width: 30%;
    }
}

.es-text-crop-sample-table__row-header {
    padding: $esds-space-inset-1-x;
    padding-right: $esds-space-generic-2-x * 2;
    text-align: left;
    vertical-align: middle;
}

.es-text-crop-sample-table__cell {
    padding: $esds-space-inset-1-x;
    text-align: left;
}

.es-text-crop-sample-table__row {
    border-bottom: $esds-border-control-on-white;

    &:last-child {
        border-bottom: 0;
    }
}

.es-text-crop-samples__button {
    background: $esds-color-teal-71;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 10px $browser-padding-color;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-lg;
    margin: 0;
    min-width: 160px;
    padding: 10px;
}

.es-text-crop-samples__button--with-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 180px;
}

.es-text-crop-samples__button-with-icon-icon {
    fill: $color-white;
    height: 20px;
    margin-bottom: -30px; // "Removes" icon height from button height calculation
    margin-right: $spacing-xs;
    margin-top: -30px; // "Removes" icon height from button height calculation
    width: 20px;
}

.es-text-crop-samples__button-with-icon-text {
    display: block;
}

.visible-padded-box {
    border: $esds-border-control-on-white;
    box-shadow: inset 0 0 0 20px $browser-padding-color;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    max-width: 320px;
    padding: 20px;
}

.visible-padded-box--extra-large {
    font-size: 64px;
    max-width: 440px;
}

.es-text-crop-samples__flexbox {
    align-items: flex-start;
    border: $esds-border-control-on-white;
    box-shadow: inset 0 0 0 18px $browser-padding-color;
    display: flex;
    margin: 0;
    padding: 18px;
    width: 100%;
}

.es-text-crop-samples__flexbox-image {
    flex: 0 0 100px;
    margin-right: $spacing-sm;
}

.es-text-crop-samples__flexbox-text {
    flex: 1 1 0%;
    font-size: $font-size-lg;
    margin: 0;
    padding: 0;
}

.es-text-crop__sample {
    margin-right: $spacing-lg;
}

.es-text-crop__sample-label {
    display: block;
    margin: 0 0 $spacing-xs;
}

// sass-lint:disable no-important
// Have to override inline styles injected by JS
.text-crop--no-crop {
    // let line height through, but remove the before and after pseudo elements
    &::before,
    &::after {
        display: none !important;
    }
}
// sass-lint:enable no-important
