@import 'variables';

body {
    background: $color-white;
    color: $color-text-default;
}

.cap-height-measurement__sample-text {
    background: $color-white;
    border: solid 1px $color-gray-20;
    box-sizing: content-box;
    color: $color-text-default;
    text-align: center;
    margin: 0 0 0 60px;
}

.cap-height-measurement__actions {
    // overflow: hidden;
    position: relative;
}

.cap-height-measurement__lines {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0;
    bottom: 55%;
    left: 0;
    list-style: none;
    margin: 0;
    // overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
}

.cap-height-measurement__lines--top {
    .measurement-fine-tune {

    }

    .measurement-fine-tune__grip,
    .measurement-fine-tune__increment {
        background: $color-orange-light;
    }
}

.cap-height-measurement__lines--bottom {
    bottom: 0;
    flex-direction: column-reverse;
    top: 55%;

    .measurement-fine-tune {
        left: 25px;
    }

    .measurement-fine-tune__grip,
    .measurement-fine-tune__increment {
        background: $color-blue;
    }
}

.measurement-fine-tune__increment--increase {
    border-radius: $border-radius-default $border-radius-default 0 0;

    .cap-height-measurement__line--top & {
        border-radius: 0 0 $border-radius-default $border-radius-default;
    }
}

.measurement-fine-tune__increment--decrease {
    border-radius: 0 0 $border-radius-default $border-radius-default;

    .cap-height-measurement__line--top & {
        border-radius: $border-radius-default $border-radius-default 0 0;
    }
}

.cap-height-measurement__line {
    background: $color-orange-light;
    display: block;
    height: 1px;
    position: relative;
    width: 100%;

    &:after {
        background: white;
        content: counter(stripes);
        border: solid 1px $color-orange-light;
        color: $color-text-default;
        display: none;
        font-family: monospace;
        font-size: $font-size-sm;
        height: 20px;
        left: 30px;
        margin-top: -10px;
        padding: 2px;
        position: absolute;
        top: 50%;
        z-index: 100;
    }

    &.cap-height-measurement__line--bottom {
        background: $color-blue;
    }
}

// .cap-height-measurement__lines--bottom .cap-height-measurement__line {
//     &:after {
//         border-color: $color-blue;
//         left: 55px;
//     }

//     &.cap-height-measurement__line--locked,
//     &:hover {
//         background: $color-blue;
//     }
// }

.measurement-fine-tune__grip-icon,
.measurement-fine-tune__increment-icon {
    fill: $color-white;
    height: $font-size-default;
    width: $font-size-default;
}

.measurement-fine-tune__grip,
.measurement-fine-tune__increment {
    align-items: center;
    background: $color-orange-light;
    // border: solid 1px $color-gray-20;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    .cap-height-measurement__line--bottom & {
        background: $color-blue;
    }
}

.measurement-fine-tune__grip {
    border-bottom: solid 1px $color-white;
    border-top: solid 1px $color-white;
    cursor: grab;
}

.measurement-fine-tune {
    display: inline-block;
    margin-top: -45px;
    position: absolute;
    top: 50%;
    z-index: 200;
}