@import 'variables';
@import 'font_form/font_form';
@import 'text_crop_samples/text_crop_samples';


html,
body {
  box-sizing: border-box;
  font-family: $font-family-default;
  font-weight: $font-weight-light;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
    }
}

.es-web-tool__flex-container {
    display: flex;
    flex-direction: column;
}

.es-web-tool__outer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.es-web-tool__header {
    align-items: center;
    background: $color-gray-12;
    color: $color-white;
    display: flex;
    height: 92px;
    flex: none;
    // flex: 0 0 92px;
    // flex-grow: 0;
    justify-content: space-between;
    padding: $spacing-md;
}

.es-web-tool__results {
    flex: 1;
}

.es-web-tool__body {
    display: flex;
    flex: 1 1 100%;
    max-width: 100vw;
    overflow-x: hidden;

    .es-web-tool__outer-wrap--code-snippet-visible & {
        display: none;
    }
}

.es-web-tool-generator__content-wrap {
    min-width: 0;
    padding: $spacing-md;
}

.es-web-tool__title {
    align-items: center;
    display: flex;
    font-weight: 300;
    font-size: $font-size-h3;
    margin: 0;
}

.es-web-tool__title-logo {
    fill: $color-white;
    margin-right: $spacing-md / 2;
    width: 140px;
}

.es-web-tool__title-text {
    display: block;
    border-left: solid 1px $color-white;
    padding-left: $spacing-md / 2 - 1px;
    position: relative;
    top: -1px;
}

.es-web-tool__header-link {
    align-items: center;
    color: $color-white;
    border-radius: $spacing-xs / 2;
    display: flex;
    font-weight: 300;
    padding: $spacing-xs $spacing-default;
    text-decoration: none;

    &:hover {
        background: white;
        color: $color-gray-12;
    }
}

.es-web-tool__header-link-logo {
    fill: $color-white;
    height: 20px;
    margin-right: $spacing-sm;
    width: 20px;

    .es-web-tool__header-link:hover & {
        fill: $color-gray-12;
    }
}

.es-button {
    border: 0;
    border-radius: $spacing-xs / 2;
    background: $color-link;
    display: inline-block;
    color: $color-white;
    font-family: 'Lato', sans-serif; 
    font-size: $font-size-default;
    padding: $spacing-xs $spacing-default;

    &:hover {
        background: $color-link-hover;
        color: $color-white;
    }

    &:before {
        content: '';
        display: block;
        margin-bottom: -2px;
    }
}







body {
    background: $color-white;
    color: $color-text-default;
}

.tool-section {
    padding: $spacing-sm;
    margin-bottom: $spacing-lg;
}

.tool-section__title {
    text-align: left;
}

.cap-height-measurement__sample-text {
    background: $color-white;
    border: solid 1px $color-gray-20;
    box-sizing: content-box;
    color: $color-text-default;
    font-family: monospace;
    margin: 0 0 0 60px;
    overflow: hidden;
    text-align: center;
    word-break: break-word;
}

.cap-height-measurement__actions {
    // overflow: hidden;
    position: relative;
}

.cap-height-measurement-wrap {
    padding: $spacing-lg 0;
}

// .cap-height-measurement__lines {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     top: 0;
//     bottom: 55%;
//     left: 0;
//     list-style: none;
//     margin: 0;
//     // overflow: hidden;
//     padding: 0;
//     position: absolute;
//     width: 100%;
// }

// .cap-height-measurement__lines--top {
//     .measurement-fine-tune {

//     }

//     .measurement-fine-tune__grip,
//     .measurement-fine-tune__increment {
//         background: $color-orange-light;
//     }
// }

// .cap-height-measurement__lines--bottom {
//     bottom: 0;
//     flex-direction: column-reverse;
//     top: 55%;

//     .measurement-fine-tune {
//         left: 25px;
//     }

//     .measurement-fine-tune__grip,
//     .measurement-fine-tune__increment {
//         background: $color-blue;
//     }
// }

.measurement-fine-tune__increment--increase {
    border-radius: $border-radius-default $border-radius-default 0 0;

    .cap-height-measurement__line--top & {
        border-radius: 0 0 $border-radius-default $border-radius-default;
    }
}

.measurement-fine-tune__increment--decrease {
    border-radius: 0 0 $border-radius-default $border-radius-default;

    .cap-height-measurement__line--top & {
        border-radius: $border-radius-default $border-radius-default 0 0;
    }
}

.cap-height-measurement__line {
    background: $color-orange-light;
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%;

    &:after {
        background: white;
        content: counter(stripes);
        border: solid 1px $color-orange-light;
        color: $color-text-default;
        display: none;
        font-family: monospace;
        font-size: $font-size-sm;
        height: 20px;
        left: 30px;
        margin-top: -10px;
        padding: 2px;
        position: absolute;
        top: 50%;
        z-index: 100;
    }

    &.cap-height-measurement__line--bottom {
        background: $color-blue;
        bottom: 0;
        left: 30px;
        top: auto;
        width: calc(100% - 30px);
    }
}

// .cap-height-measurement__lines--bottom .cap-height-measurement__line {
//     &:after {
//         border-color: $color-blue;
//         left: 55px;
//     }

//     &.cap-height-measurement__line--locked,
//     &:hover {
//         background: $color-blue;
//     }
// }

.measurement-fine-tune__grip-icon,
.measurement-fine-tune__increment-icon {
    fill: $color-white;
    height: $font-size-default;
    width: $font-size-default;
}

.measurement-fine-tune__grip,
.measurement-fine-tune__increment {
    align-items: center;
    background: $color-orange-light;
    // border: solid 1px $color-gray-20;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;

    .cap-height-measurement__line--bottom & {
        background: $color-blue;
    }
}

.measurement-fine-tune__grip {
    border-bottom: solid 1px $color-white;
    border-top: solid 1px $color-white;
    cursor: grab;
}

.measurement-fine-tune {
    display: inline-block;
    left: 0;
    margin-top: -45px;
    position: absolute;
    top: 50%;
    z-index: 200;

    .cap-height-measurement__line--bottom & {
        background: $color-blue;
    }
}

.cap-height-measurement__offset {
    align-items: center;
    background: $color-white;
    border: solid 1px $color-orange-light;
    color: $color-orange-light;
    display: flex;
    font-family: monospace;
    justify-content: center;
    padding: $spacing-sm;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 30px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
    z-index: 20;

    .cap-height-measurement__line--bottom & {
        border-color: $color-blue;
        color: $color-blue;
        right: 0;
    }
}

.offset-input,
.offset-input-label {
    left: -10000px;
    position: absolute;
    top: 0;
}

label {
    display: block;
    font-size: $font-size-sm;
    margin-bottom: $spacing-xs / 2;
}

input,
select {
    font-size: $font-size-default;
    width: 100%;
}

.typeface-action {
    margin-bottom: $spacing-default;
}

.code-top-measurement {
    color: $color-orange-light;
    font-weight: bold;
}

.code-bottom-measurement {
    color: $color-blue;
    font-weight: bold;
}

.code-size,
#size {
    color: $color-green;
    font-weight: bold;
}

.code-line-height,
#line-height {
    color: $color-red;
    font-weight: bold;
}

.typeface-action--hidden {
    display: none;
}

.visible-padded-box {
    box-shadow: inset 20px 20px 0 $color-orange-light, inset -20px -20px 0 $color-orange-light;
    display: inline-block;
    font-size: 16px;
    padding: 20px;
}

.visible-padded-box--large {
    font-size: 32px;
}

.visible-padded-box--extra-large {
    font-size: 64px;
}

.cap-aligned-line-height {
    line-height: 1.2;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }
}
