{% macro code_snippet() %}
        <div class="generated-code tool-section">
            <h2 class="tool-section__title">Mixin Code</h2> 
            <h3>SCSS</h3>
            <pre>
                <code id="scss-code">
@mixin cap-aligned-line-height($line-height: <span class="code-line-height">1.2</span>) {

topOffsetEm = Math.max((topMeasurement + offsetLineHeightAdjustment), 0) / fontSize,
bottomOffsetEm = Math.max((bottomMeasurement + offsetLineHeightAdjustment), 0) / fontSize,

    $offset-top = max((<span class="code-top-measurement">0</span> + ($lineHeight - <span class="code-line-height">1.2</span>) * (<span class="code-size">60</span> / 2)), 0) / <span class="code-size">60</span>;
    $offset-bottom = max((<span class="code-bottom-measurement">0</span> + ($lineHeight - <span class="code-line-height">1.2</span>) * (<span class="code-size">60</span> / 2)), 0) / <span class="code-size">60</span>;

    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -#{$offset-top}em;
    }

    &::after {
        margin-top: -#{$offset-bottom}em;
    }
}
                </code>
            </pre>

            <h3>LESS</h3>
            <pre>
                <code id="stylus-code">
.cap-aligned-line-height(@line-height: <span class="code-line-height">1.2</span>) {

    @offset-top = max((<span class="code-top-measurement">0</span> + ($lineHeight - <span class="code-line-height">1.2</span>) * (<span class="code-size">60</span> / 2)), 0) / <span class="code-size">60</span>;
    @offset-bottom = max((<span class="code-bottom-measurement">0</span> + ($lineHeight - <span class="code-line-height">1.2</span>) * (<span class="code-size">60</span> / 2)), 0) / <span class="code-size">60</span>;

    line-height: @line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -(@offset-top)em;
    }

    &::after {
        margin-top: -(@offset-bottom)em;
    }
}
                </code>
            </pre>

            <h3>Stylus</h3>
            <pre>
                <code id="less-code">
cap-aligned-line-height($line-height = <span class="code-line-height">1.2</span>) {
    $offset-top = max((<span class="code-top-measurement">0</span> + ($lineHeight - <span class="code-line-height">1.2</span>) * (<span class="code-size">60</span> / 2)), 0) / <span class="code-size">60</span>;
    $offset-bottom = max((<span class="code-bottom-measurement">0</span> + ($lineHeight - <span class="code-line-height">1.2</span>) * (<span class="code-size">60</span> / 2)), 0) / <span class="code-size">60</span>;

    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -($offset-top)em;
    }

    &::after {
        margin-top: -($offset-bottom)em;
    }
}
                </code>
            </pre>
        </div>
{% endmacro %}
