// ESDS Form Component Candidates
$esds-form-input-min-height: 37px;

.esds-form__label {
    @include esds-text-color('primary');
    display: block;
    font-size: $esds-font-size-xs;
    letter-spacing: .02em;
    margin: $esds-space-stack-quarter-x;
}

.esds-form__input {
    border: $esds-border-control-on-white;
    border-radius: $esds-border-radius-default;
    font-family: 'Lato', sans-serif; 
    font-size: $esds-font-size-s;
    margin: 0;
    min-height: $esds-form-input-min-height;
    padding: $esds-space-inset-half-x;
    width: 100%;

    &[disabled] {
        color: $color-gray-53;
        cursor: not-allowed;
        font-style: italic;
    }
}

.esds-form__select {
    background: none;
    border: 0;
    display: inline-block;
    font-family: 'Lato', sans-serif; 
    font-size: $esds-font-size-s;
    height: 37px;
    position: relative;
    width: 100%;
}

.esds-form__select-input {
    appearance: none;
    background: none;
    border: 0;
    color: $color-black;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: $font-size-default;
    height: 100%;
    padding: $spacing-sm;
    padding-bottom: 0;
    padding-right: 37px;
    padding-top: 0;
    position: relative;
    width: 100%;
    z-index: 10;

    &:focus {
        outline: none;
    }
}

.esds-form__select-visual-wrap {
    background: $color-white;
    border: $esds-border-control-on-white;
    border-radius: $esds-border-radius-default;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.esds-form__select-open-indicator {
    bottom: 0;
    content: '';
    display: block;
    min-height: $esds-form-input-min-height;
    position: absolute;
    right: -1px;
    text-align: center;
    top: 0;
    width: 37px;
    z-index: 5;
}

.esds-form__select-open-icon {
    cursor: pointer;
    display: inline;
    fill: $esds-color-neutral-70;
    height: 30px;
    left: 50%;
    margin-left: -(30px / 2);
    margin-top: -(30px / 2);
    position: absolute;
    top: 50%;
    width: 30px;
}


// Bespoke Text Crop Form Styles
.es-text-crop-font-form {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
}

.es-text-crop-label-tabs {
    display: flex;
    font-size: $esds-font-size-xs;
}

.es-text-crop-label-tabs__delimiter {
    padding: 0 $esds-space-generic-half-x;
}

.es-text-crop-label-tabs__tab-text {
    @include esds-text-color('link');
}

.es-text-crop-label-tabs__label {
    margin-right: $esds-space-generic-half-x;
}

.es-text-crop-label-tabs__input {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
}

.es-text-crop-label-tabs__input:checked + .es-text-crop-label-tabs__tab-text {
    @include esds-text-color('primary');
    font-weight: $esds-font-weight-bold;
}

.es-text-crop-label-tabs__tab {
    cursor: pointer;
}

.typeface-action {
    flex: 1 1 auto;
    margin-right: $esds-space-generic-1-x;
}

// Size specific form elements
.typeface-action--line-height,
.typeface-action--size {
    flex-grow: 0;
    width: 6em;
}

.typeface-action--tabbed-selector {
    flex: 1 1 20em;
    max-width: 20em;
    width: 20em;

    .typeface-action {
        margin-right: 0;
    }
}

.typeface-action--weight-and-style {
    flex-grow: 0;
    width: 10em;
}

.typeface-action--top-crop,
.typeface-action--bottom-crop {
    flex: 0 0 5em;
    width: 5em;
}

.typeface-action--top-crop {
    margin-left: auto;
}

.typeface-action--bottom-crop {
    margin-right: 0;
}

.typeface-action--custom-typeface-weight,
.typeface-action--custom-typeface-style {
    flex-grow: 0;
    width: 6em;
}



// Configuration Row Fixed Mode
.es-text-crop-configuration-row--fixed {
    .es-text-crop-configuration-row {
        box-shadow: 0 2px 3px rgba(0,0,0, .4);
        left: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 900;
    }

    .eswt-step-row__step-number,
    .eswt-step-row__title {
        display: none;
    }

    .text-crop-measurement-wrap {
        padding: 24px 0;
    }

    .text-crop-measurement-wrap,
    .es-text-crop-configuration-row {
        transition: padding .4s;
    }
}
