body {
  background: #FFFFFF;
  color: #323232; }

.tool-section {
  padding: 8px;
  margin-bottom: 64px; }

.tool-section__title {
  text-align: left; }

.cap-height-measurement__sample-text {
  background: #FFFFFF;
  border: solid 1px #323232;
  box-sizing: content-box;
  color: #323232;
  font-family: monospace;
  text-align: center;
  margin: 0 0 0 60px; }

.cap-height-measurement__actions {
  position: relative; }

.cap-height-measurement-wrap {
  padding: 64px 0; }

.measurement-fine-tune__increment--increase {
  border-radius: 4px 4px 0 0; }
  .cap-height-measurement__line--top .measurement-fine-tune__increment--increase {
    border-radius: 0 0 4px 4px; }

.measurement-fine-tune__increment--decrease {
  border-radius: 0 0 4px 4px; }
  .cap-height-measurement__line--top .measurement-fine-tune__increment--decrease {
    border-radius: 4px 4px 0 0; }

.cap-height-measurement__line {
  background: #F57026;
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%; }
  .cap-height-measurement__line:after {
    background: white;
    content: counter(stripes);
    border: solid 1px #F57026;
    color: #323232;
    display: none;
    font-family: monospace;
    font-size: 14px;
    height: 20px;
    left: 30px;
    margin-top: -10px;
    padding: 2px;
    position: absolute;
    top: 50%;
    z-index: 100; }
  .cap-height-measurement__line.cap-height-measurement__line--bottom {
    background: #0795aa;
    bottom: 0;
    left: 30px;
    top: auto;
    width: calc(100% - 30px); }

.measurement-fine-tune__grip-icon,
.measurement-fine-tune__increment-icon {
  fill: #FFFFFF;
  height: 16px;
  width: 16px; }

.measurement-fine-tune__grip,
.measurement-fine-tune__increment {
  align-items: center;
  background: #F57026;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px; }
  .cap-height-measurement__line--bottom .measurement-fine-tune__grip, .cap-height-measurement__line--bottom
  .measurement-fine-tune__increment {
    background: #0795aa; }

.measurement-fine-tune__grip {
  border-bottom: solid 1px #FFFFFF;
  border-top: solid 1px #FFFFFF;
  cursor: grab; }

.measurement-fine-tune {
  display: inline-block;
  left: 0;
  margin-top: -45px;
  position: absolute;
  top: 50%;
  z-index: 200; }
  .cap-height-measurement__line--bottom .measurement-fine-tune {
    background: #0795aa; }

.cap-height-measurement__offset {
  align-items: center;
  background: #FFFFFF;
  border: solid 1px #F57026;
  color: #F57026;
  display: flex;
  font-family: monospace;
  justify-content: center;
  padding: 8px;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 30px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  z-index: 20; }
  .cap-height-measurement__line--bottom .cap-height-measurement__offset {
    border-color: #0795aa;
    color: #0795aa;
    right: 0; }

.offset-input,
.offset-input-label {
  left: -10000px;
  position: absolute;
  top: 0; }

label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px; }

input,
select {
  font-size: 16px;
  width: 100%; }

.typeface-action {
  margin-bottom: 32px; }

.code-top-measurement {
  color: #F57026;
  font-weight: bold; }

.code-bottom-measurement {
  color: #0795aa;
  font-weight: bold; }

.code-size,
#size {
  color: #55C81D;
  font-weight: bold; }

.code-line-height,
#line-height {
  color: #D72044;
  font-weight: bold; }

.typeface-action--hidden {
  display: none; }

.visible-padded-box {
  box-shadow: inset 20px 20px 0 #F57026, inset -20px -20px 0 #F57026;
  display: inline-block;
  font-size: 16px;
  padding: 20px; }

.visible-padded-box--large {
  font-size: 32px; }

.visible-padded-box--extra-large {
  font-size: 64px; }

.cap-aligned-line-height {
  line-height: 1.2; }
  .cap-aligned-line-height::before, .cap-aligned-line-height::after {
    content: '';
    display: block;
    height: 0;
    width: 0; }

/*# sourceMappingURL=project.css.map */