{# {% import 'components/[your-macros-file].njk' as library with context %} #}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_content_prepend %}{% endblock head_content_prepend %}
        <link rel="stylesheet" href="/styles/[your-main-stylesheet].css">
        <script src="/scripts/[your-main-script].js"></script>
        {% block head_content_append %}{% endblock head_content_append %}
    </head>
    <body>
        {% block body %}{% endblock body %}
        {% block closing_body_assets %}{% endblock closing_body_assets %}
    </body>
</html>
