{% import "project.njk" as components with context %}

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400i,700|Lato:300,400,400i,700|Lora:400,400i,700|Montserrat:400,700|Open+Sans+Condensed:300,700|Open+Sans:400,400i,700|Oswald:400,700|PT+Sans:400,700|Raleway:400,400i,700|Roboto+Condensed:400,400i,700|Roboto+Slab:400,700|Roboto:400,400i,700|Slabo+27px|Source+Sans+Pro:400,400i,700|Ubuntu:400,400i,700|Tangerine" rel="stylesheet">
        <link rel="stylesheet" href="css/project.css">
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">
        <link rel="stylesheet" href="http://eightshapes.com/css/global.css">
        <script src="scripts/jquery.min.js"></script>
        <!-- These scripts are all the dependencies for the draggable widget from jQuery UI -->
        <script src="/scripts/widget.js"></script>
        <script src="/scripts/data.js"></script>
        <script src="/scripts/scroll-parent.js"></script>
        <script src="/scripts/mouse.js"></script>
        <script src="/scripts/plugin.js"></script>
        <script src="/scripts/safe-active-element.js"></script>
        <script src="/scripts/safe-blur.js"></script>
        <script src="/scripts/draggable.js"></script>
        <script src="/scripts/jquery.ui.touch-punch.js"></script> <!-- allows touch events to trigger jquery UI interactions -->
        <!-- End draggable jQuery UI dependencies -->

        <script src="scripts/svg4everybody.min.js"></script>
        <script src="scripts/project.js"></script>
    </head>
    <body>

                <div class="typeface-actions tool-section">
                    <h1>Cap Aligned Line Height Generator</h1>
                    <h2 class="tool-section__title">Select a Typeface</h2> 
                    <div class="typeface-action">
                        <label for="typeface">Typeface</label>
                        <select name="typeface" id="typeface">
                            <option value="Lato" selected>Lato</option>
                            <option value="Droid Sans">Droid Sans</option>
                            <option value="Tangerine">Tangerine</option>
                            <option value="Lora">Lora</option>
                        </select>
                    </div>
                    
                    <div class="typeface-action">
                        <label for="weight">Weight &amp; Style</label>
                        <select name="weight" id="weight">
                            <option value="400">400 (normal)</option>
                            <option value="400i">400 Italic (normal)</option>
                            <option value="700">700 (bold)</option>
                        </select>
                    </div>
                    
                    <div class="typeface-action">
                        <label for="size">Size</label>
                        <input name="size" id="size" type="text" value="36">
                    </div>
                    
                    <div class="typeface-action">
                        <label for="line-height">Default Line Height</label>
                        <input name="line-height" id="line-height" type="text" value="1.2">
                    </div>
                </div>


                <div class="cap-height-measurement tool-section">
                    <h2 class="tool-section__title">Measure the Cap Height</h2> 

                    <div class="cap-height-measurement-wrap">
                        <div class="cap-height-measurement__actions">
                            <div class="cap-height-measurement__line cap-height-measurement__line--top">
                                <div class="measurement-fine-tune measurement-fine-tune--top">
                                    <div class="measurement-fine-tune__increment measurement-fine-tune__increment--decrease">
                                        {{ components.icon(name="arrow-circle-up", class="measurement-fine-tune__increment-icon") }}
                                    </div>
                                    <div class="measurement-fine-tune__grip">{{ components.icon(name="bars", class="measurement-fine-tune__grip-icon") }}</div>
                                    <div class="measurement-fine-tune__increment measurement-fine-tune__increment--increase">
                                        {{ components.icon(name="arrow-circle-down", class="measurement-fine-tune__increment-icon") }}
                                    </div>
                                </div>
                                <div class="cap-height-measurement__offset">
                                    0
                                </div>
                                <label for="top-measurement" class="offset-input-label">Top Measurement</label>
                                <input class="offset-input" type="number" id="top-measurement" name="top-measurement" value="0">
                            </div>
                            <div class="cap-height-measurement__sample-text">
                                I try &ldquo;ascenders&rdquo; descending (1).
                            </div>
                            <div class="cap-height-measurement__line cap-height-measurement__line--bottom">
                                <div class="measurement-fine-tune measurement-fine-tune--bottom">
                                    <div class="measurement-fine-tune__increment measurement-fine-tune__increment--increase">
                                        {{ components.icon(name="arrow-circle-up", class="measurement-fine-tune__increment-icon") }}
                                    </div>
                                    <div class="measurement-fine-tune__grip">{{ components.icon(name="bars", class="measurement-fine-tune__grip-icon") }}</div>
                                    <div class="measurement-fine-tune__increment measurement-fine-tune__increment--decrease">
                                        {{ components.icon(name="arrow-circle-down", class="measurement-fine-tune__increment-icon") }}
                                    </div>
                                </div>
                                <div class="cap-height-measurement__offset">
                                    0
                                </div>
                                <label for="bottom-measurement" class="offset-input-label">Bottom Measurement</label>
                                <input class="offset-input" type="number" id="bottom-measurement" name="bottom-measurement" value="0">
                            </div>
                        </div>
                    </div>
                

                </div>

                <div class="generated-code tool-section">
                    <h2 class="tool-section__title">Mixin Code</h2> 
                    <h3>SCSS</h3>
                    <pre>
                        <code id="scss-code">
@mixin cap-aligned-line-height($line-height: <span class="code-line-height">1.2</span>) {
    $offset-top: (<span class="code-top-measurement">0</span> + ($line-height - 1) * (<span class="code-size">60</span> / 2)) / <span class="code-size">60</span>;    
    $offset-top: (<span class="code-bottom-measurement">0</span> + ($line-height - 1) * (<span class="code-size">60</span> / 2)) / <span class="code-size">60</span>;    

    line-height: <span class="code-line-height">1.2</span>;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -#{$offset-top}em;
    }

    &::after {
        margin-top: -#{$offset-bottom}em;
    }
}
                        </code>
                    </pre>

                    <h3>LESS</h3>
                    <pre>
                        <code id="less-code">
cap-aligned-line-height($line-height = <span class="code-line-height">1.2</span>) {
    $offset-top = (<span class="code-top-measurement">0</span> + ($line-height - 1) * (<span class="code-size">60</span> / 2)) / <span class="code-size">60</span>;    
    $offset-top = (<span class="code-bottom-measurement">0</span> + ($line-height - 1) * (<span class="code-size">60</span> / 2)) / <span class="code-size">60</span>;    

    line-height: <span class="code-line-height">1.2</span>;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -{$offset-top}em;
    }

    &::after {
        margin-top: -{$offset-bottom}em;
    }
}
                        </code>
                    </pre>


                    <h3>Stylus</h3>
                    <pre>
                        <code id="stylus-code">
.cap-aligned-line-height(@line-height: <span class="code-line-height">1.2</span>) {
    @offset-top: (<span class="code-top-measurement">0</span> + ($line-height - 1) * (<span class="code-size">60</span> / 2)) / <span class="code-size">60</span>;    
    @offset-top: (<span class="code-bottom-measurement">0</span> + ($line-height - 1) * (<span class="code-size">60</span> / 2)) / <span class="code-size">60</span>;    

    line-height: <span class="code-line-height">1.2</span>;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: -(@offset-top)em;
    }

    &::after {
        margin-top: -(@offset-bottom)em;
    }
}
                        </code>
                    </pre>
                </div>
    </body>
</html>
