{% import "project.njk" as components with context %}

<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
        <link rel="stylesheet" href="css/project.css">
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
        <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
        <meta http-equiv="cleartype" content="on">
        <link rel="stylesheet" href="http://eightshapes.com/css/global.css">
        <link rel="stylesheet" href="comet_fonts.css">
        <script src="scripts/jquery.min.js"></script>
        <!-- These scripts are all the dependencies for the draggable widget from jQuery UI -->
        <script src="/scripts/widget.js"></script>
        <script src="/scripts/data.js"></script>
        <script src="/scripts/scroll-parent.js"></script>
        <script src="/scripts/mouse.js"></script>

        <script src="/scripts/plugin.js"></script>
        <script src="/scripts/safe-active-element.js"></script>
        <script src="/scripts/safe-blur.js"></script>
        <script src="/scripts/draggable.js"></script>
        <script src="/scripts/jquery.ui.touch-punch.js"></script> <!-- allows touch events to trigger jquery UI interactions -->
        <!-- End draggable jQuery UI dependencies -->

        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script src="scripts/svg4everybody.min.js"></script>
        <script src="scripts/project.js"></script>
    </head>
    <body>
        <div class="es-web-tool__flex-container">
            <div class="es-web-tool__outer-wrap">
                <div class="es-web-tool__body">
                    <div class="es-web-tool__configurator">
                        <div class="es-web-tool__sidebar">
                            <h1 class="es-web-tool__title">
                                <a href="http://eightshapes.com">
                                    {{ components.icon(icon_name="eightshapes-mark", class="es-web-tool__title-logo") }}
                                </a>
                                <span class="es-web-tool__title-text">Text Crop</span>
                            </h1>
                            {{ components.font_form() }}
                            <div class="es-web-tool__sidebar-actions">
                                <div class="es-web-tool__sidebar-ctas">
                                    <button class="es-code-toggle es-button">Copy Mixin Code</button>
                                    <a class="es-button es-web-tool__external-link--twitter" id="es-share-on-twitter-link" href="http://twitter.com/home?status=Get%20rid%20of%20unwanted%20vertical%20whitespace%20around%20text.%20http://text-crop.eightshapes.com%20@eightshapes&amp;source=webclient">
                                        {{ components.icon(icon_name="twitter", class="es-web-tool__external-link-logo es-button__icon") }}
                                        <span class="es-web-tool__external-link-text">
                                            Tweet This Tool
                                        </span>
                                    </a>
                                </div>
                                
                                
                                <div class="es-web-tool__external-links-wrap">
                                    <a class="es-web-tool__external-link es-web-tool__external-link--github" href="http://www.eightshapes.com/design-systems.html">
                                        <span class="es-web-tool__external-link-text">
                                            By Eightshapes
                                        </span>
                                    </a>    
                                    <div class="es-web-tool__external-link-separator">
                                    </div>                  
                                    <a class="es-web-tool__external-link es-web-tool__external-link--github" href="https://github.com/EightShapes/text-crop">
                                        {{ components.icon(icon_name="github", class="es-web-tool__external-link-logo") }}
                                        <span class="es-web-tool__external-link-text">
                                            On Github
                                        </span>
                                    </a>
                                </div>
                                
                                <p class="es-web-tool__legal">
                                    &copy; Copyright Eightshapes, LLC 2017
                                </p>
                            </div>
                        </div>
                        <div class="es-web-tool__results">
                            {{ components.text_crop_measurement_tool() }}
                            {{ components.text_crop_samples() }}
                        </div>
                    </div>
                    {{ components.code_snippet() }}
                </div>
            </div>
        </div>
        <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          var pageTracker = _gat._getTracker("UA-1201194-1");
          pageTracker._initData();
          pageTracker._trackPageview();
        </script>
    </body>
</html>
