// ESDS Doc Globals
$esds-doc-font-family-sans-serif: $esds-font-family-sans-serif;

// ESDS Doc Button
$esds-doc-button-text-transform: none;

// ESDS Doc Code Snippet
$esds-doc-code-snippet-source-background-color: $esds-background-color-white;
