@import 'esds-library/tokens/tokens';
@import 'esds-doc/tokens/tokens';
@import 'variables'; // Deprecate when possible

@import 'esds-library/styles/shared/util';
@import 'esds-library/styles/shared/color';
@import 'esds-library/styles/shared/typography';

@import 'esds-library/components/icon/icon';
@import 'esds-library/components/button/button';
@import 'esds-library/components/container/container';
@import 'esds-library/components/row/row';
@import 'esds-library/components/card/card';

@import 'esds-doc-theming';
@import 'esds-doc/styles/shared/utils';
@import 'esds-doc/components/container/container';
@import 'esds-doc/components/button/button';
@import 'esds-doc/components/code_snippet/code_snippet';
@import 'esds-doc/components/html_example_list/html_example_list';
@import 'esds-doc/components/code_example_pair/code_example_pair';
@import 'esds-doc/components/page_navigation/page_navigation';
@import 'esds-doc/components/reference_table/reference_table';
@import 'esds-doc/components/tint_stack/tint_stack';

@import 'code_snippet/code_snippet';
@import 'font_form/font_form';
@import 'tabs/tabs';
@import 'text_crop_samples/text_crop_samples';
@import 'headcrumb/headcrumb';
@import 'hero/hero';
@import 'step_row/step_row';
@import 'text_crop_measurement_tool/text_crop_measurement_tool';

$sidebar-shadow: -3px 0 3px rgba($color-black, .15);
$sidebar-width: 320px;

html,
body {
    box-sizing: border-box;
    font-family: $esds-font-family-sans-serif;
    font-weight: $font-weight-normal;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: $esds-text-color-link-on-white;
    text-decoration: none;

    &:hover {
        color: $esds-text-color-link-on-white;
    }
}

.es-web-tool__flex-container {
    display: flex;
    flex-direction: column;
}

.es-web-tool__outer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.es-web-tool__header {
    align-items: center;
    background: $color-gray-12;
    color: $color-white;
    display: flex;
    flex: none;
    height: 92px;
    // flex: 0 0 92px;
    // flex-grow: 0;
    justify-content: space-between;
    padding: $spacing-md;
}

.es-web-tool__configurator {
    align-items: stretch;
    display: flex;
    max-width: 100vw;
    min-height: 100vh;

    .es-code-toggle--visible & {
        display: none;
    }
}

.es-web-tool__sidebar {
    background: $color-gray-95;
    flex: 0 0 $sidebar-width;
}

.es-web-tool__title {
    align-items: center;
    display: flex;
    font-size: $font-size-h3;
    font-weight: $font-weight-normal;
    margin: 0;
    padding: $spacing-md;
    padding-bottom: 0;
}

.es-web-tool__title-logo {
    fill: $color-black;
    height: 30px;
    margin-right: $spacing-md / 2;
    width: 30px;
}

.es-web-tool__title-text {
    border-left: solid 1px $color-black;
    display: block;
    padding-left: $spacing-md / 2 - 1px;
    position: relative;
    top: -1px;
}

.es-web-tool__external-link--twitter {
    margin-left: auto;
}

.es-web-tool__external-link {
    align-items: center;
    border-radius: $spacing-xs / 2;
    color: $color-link;
    display: inline-flex;
    font-weight: $font-weight-normal;
    line-height: 1;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.es-web-tool__external-link-logo {
    fill: $color-link;
    height: 20px;
    margin-right: $spacing-xs / 2;
    width: 20px;
}

.es-button {
    align-items: center;
    background: $color-link;
    border: 0;
    border-radius: $spacing-xs / 2;
    color: $color-white;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    font-size: $font-size-default;
    font-weight: $font-weight-normal;
    justify-content: center;
    max-height: 35px;
    padding: $spacing-xs $spacing-sm;
    text-align: center;
    text-decoration: none;

    &:hover {
        background: $color-link-hover;
        color: $color-white;
        text-decoration: none;
    }
}

.es-code-toggle {
    display: inline-block;
}

.es-button__icon {
    fill: $color-white;
}

.es-web-tool__results {
    box-shadow: $sidebar-shadow;
    flex: 1;
    padding: $spacing-default 0 $spacing-default $spacing-default;
    width: calc(100vw - #{$sidebar-width});
}

.es-web-tool__sidebar-actions {
    padding: 0 $spacing-md $spacing-md;
}

.es-web-tool__sidebar-ctas {
    align-items: center;
    // display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-default;

    .es-button {
        margin-bottom: $spacing-sm;
        width: 100%;
    }
}

.es-web-tool__external-links-wrap {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing-default;
}

.es-web-tool__external-link-separator {
    background: $color-gray-30;
    border-radius: 50%;
    display: inline-flex;
    height: 6px;
    margin: 0 $spacing-xs;
    width: 6px;
}

.es-web-tool__legal {
    font-size: $font-size-sm;
    margin: 0;
    text-align: center;
}

.typeface-action--hidden {
    display: none;
}

// Used by the dynamic examples, sets some defaults
.text-crop {
    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }
}

// ESDS Overrides
.esds-row__inner {
    max-width: 1000px;
}

// Override ESDS-library defaults
.esds-row--hero-inset {
    padding: $esds-space-inset-1-x;
    padding-bottom: 70px;
    padding-top: 70px;

    @media screen and (min-width: 768px) {
        padding-bottom: 70px;
        padding-top: 70px;
    }
}
