{% macro icon(icon_name="arrow-circle-down", class="false") %}
    <svg {% if class %} class="{{ class }}" {% endif %} aria-labelledby="title">
        <title>{{ icon_name }}</title>
        <use xlink:href="/icons/eightshapes-text-crop.svg#{{ icon_name }}"></use>
    </svg>
{% endmacro %}
